.searchBarInput {
    padding: 0;
    margin: 0;
    border: none;
    width: 80vw;
    max-width: 500px;
    height: 50px;
    border-radius: .5rem;
    outline: none;
    position: sticky;
    padding-left: 20px;
    font-size: 18px;
}

.searchBarInput::placeholder {
    font-weight: 500;
    font-size: 18px;
}

.searchBarButton {
    position: absolute;
    height: 50px;
    padding: 0;
    margin: 0;
    width: 50px;
    border: none;
    outline: none;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    transform: translateX(-100%);
    background-color: hsl(0, 0%, 17%);
    transition: all ease-in 200ms;
}

.searchBarButton:hover {
    background-color: hsl(0, 0%, 10%);
    cursor: pointer;
}

.searchBarButton:active {
    transition: background-color ease-in 100ms;
    background-color: hsl(0, 0%, 39%);
}

.searchBarWrapper {
    height: 50px;
    width: auto;
}

@media only screen and (max-width: 400px) {
    .searchBarInput::placeholder {
        font-weight: 500;
        font-size: 12px;
    }
}