 @font-face {
   font-family: 'Rubik';
   src: local('Rubik'), url(./fonts/Rubik/static/Rubik-Regular.ttf) format('truetype');
   font-weight: 400;
 }

 body {
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }